.mainContainer {
  flex-direction: column;
}

#mainPicture img {
  height: 300px;
  border-radius: 50%;
  margin: 16px 0px;
  border: medium solid var(--border-color)
}

#mainPicture {
  display: flex;
  height: 35%;
  justify-content: center;
  gap: 16px;
}

.content {
  background-color: var(--first-bkg-color);
}

#timeline {
  display: flex;
  flex-flow: column nowrap;
}

.timepointHeader {
  font-size: x-large;
  font-weight: 700;
  margin: 10px 0px;
  text-align: center;
}

.timepointContent {
  hyphens: auto;
  text-align: justify;
  -moz-text-align-last: left;
  text-align-last: left;
}

.timePoint {
  position: relative;
  max-width: 350px;
  border-radius: 16px;
  background-color: var(--third-bkg-color);
  padding: 0px 16px;
  margin: 24px 0px;
}

.rightPoint {
  position: absolute;
  width: auto;
  height: auto;
  left: 105%;
  top: 0;
  padding: 12px 12px;
  background-color: var(--third-bkg-color);
  border-radius: 16px;
  font-size: large;
}

.leftPoint {
  position: absolute;
  width: auto;
  height: auto;
  left: -20%;
  top: 0;
  padding: 12px 12px;
  background-color: var(--third-bkg-color);
  border-radius: 16px;
  font-size: large;
}

#timeline .timepointright {
  left: calc(120px + 50%);
}

#timeline .timepointleft {
  right: calc(-44% + 400px);
}

#description {
  width: 300px;
  padding: 16px;
  margin-left: 24px;
}

#descriptionHeader {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 60px;
}

.timePoint p {
  color: var(--text-color);
}

#timelineHeader {
  align-self: center;
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 12px;
  padding: 8px;
  width: 95%;
  height: 80px;
  line-height: 61px;
  background-color: var(--third-bkg-color);
  border-radius: 16px;
}

#timelineHeader span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--third-bkg-color);
  height: 63%;
  top: 450px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

@media screen and (min-width: 35rem) and (max-width: 66rem){
  #timeline::after{
    width: 0px;
  }
  #timeline .timepointright {
    left: 50%;
  }
  
  #timeline .timepointleft {
    left: 10%;
  }

  .rightPoint {
    left: 0%;
    top: -60px;
  }

  .leftPoint {
    left: 0%;
    top: -60px;
  }

  .timePoint {
    align-self: center;
    margin-top: 72px;
  }

  #timeline .timepointleft {
    left: 0;
    right: 0;
  }

  #timeline .timepointright {
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 35rem){
  #timeline::after{
    width: 0px;
  }
  #mainPicture {
    flex-direction: column;
  }
  #description {
    align-self: center;
    text-align: center;
    width: auto;
    max-width: 300px;
    margin-left: 0;
  }
  #mainPicture img {
    align-self: center;
    height: 300px;
    width: 300px;
  }
  #descriptionHeader {
    margin-top: 0px;
  }

  #timelineHeader {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .rightPoint {
    left: 0%;
    top: -60px;
  }

  .leftPoint {
    left: 0%;
    top: -60px;
  }

  .timePoint {
    align-self: center;
    margin-top: 72px;
  }

  #timeline .timepointleft {
    left: 0;
    right: 0;
  }

  #timeline .timepointright {
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 375px) {
  .timePoint {
    width: 90%;
  }
}

@media screen and (max-width: 310px) {
  #mainPicture img {
    width: 200px;
    height: 200px;
  }
}
