.contentWrapper .button{
  margin-bottom: 1%;
  border: 1px solid var(--border-color);
  background-color: var(--third-bkg-color);
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
}

.contentWrapper #NodeUebungZwei, #NodeUebungDrei {
  display: none;
}