#primzahlen {
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 5px;
  border: thin solid var(--text-color);
  width: 310px;
}

#primenumber {
  display: none;
}

.clickbutton:hover {
  cursor: pointer;
}

#ggTFeld {
  border: thin solid var(--text-color);
  padding: 3px 5px 2px 5px;
  user-select: none;
  background-color: var(--second-bkg-color);
  margin: 5px;
}

.clickbutton {
  border: thin solid var(--text-color);
  padding: 3px 5px 2px 5px;
  user-select: none;
  background-color: var(--second-bkg-color);
  text-align: center;
  margin: 5px;
}

#WASMStart, #JSStart {
  width: 150px;
}

.contentWrapper .button{
  margin-bottom: 1%;
  border: 1px solid var(--border-color);
  background-color: var(--third-bkg-color);
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
}
