* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  --text-color: #222;
  --first-bkg-color: #f0f2f5;
  --second-bkg-color: #fd9644;
  --third-bkg-color: #f9a32e;
  --border-color: #f9a32e;
  --boxshadow-color: #525252;
  --content-color: #dbdada;
}

body.dark-theme {
  --text-color: #eee;
  --first-bkg-color: #313131;
  --second-bkg-color: #414141;
  --third-bkg-color: #525252;
  --border-color: #525252;
  --boxshadow-color: #313131;
  --content-color: #414141;
}

body {
  background: var(--first-bkg-color);
  color: var(--text-color);
}

.page {
  position: absolute;
  width: 96vw;
  height: 96%;
  top: 2vh;
  left: 2vw;
  right: 2vw;
  bottom: 2vh;
}

nav {
  background-color: var(--second-bkg-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 2px 4px 5px -2px var(--boxshadow-color);
}

nav .navWrapper {
  display: flex;
  flex-flow: row wrap;
  grid-gap: 2vw;
  padding: 1rem;
}

nav .button {
  border: 1px solid var(--border-color);
  background-color: var(--third-bkg-color);
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
}

.mainContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  top: 2vh;
  height: auto;
  grid-gap: 1vw;
}

.mainContainer .left {
  background-color: var(--content-color);
  color: var(--text-color);
  width: 20%;
  padding: 0.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 4px 5px -2px var(--boxshadow-color);
}

.left .title {
  text-align: center;
  margin: 1em 0em 0.5em 0em;
  font-size: 20px;
}

.left .button {
  border: 1px solid var(--border-color);
  background-color: var(--third-bkg-color);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0.2em;
  width: 100px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
}

.mainContainer .content {
  background-color: var(--content-color);
  color: var(--text-color);
  width: 80%;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 2px 4px 5px -2px var(--boxshadow-color);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contentWrapper .text {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .mainContainer {
    flex-direction: column;
    grid-gap: 10px;
    top: 1.2vh;
  }

  .mainContainer .left {
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .mainContainer .left .button {
    flex-grow: 1;
  }

  .left .title {
    width: 100%;
    margin: 0.5em 0em 0.5em 0em;
  }

  .mainContainer .content {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 516px){
  .navWrapper {
    justify-content: center;
  }
}
