#upload {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 8px;
}

#textArea {
  width: 99%;
  height: 200px;
  padding: 4px;
  margin-bottom: 4px;
  overflow-y: auto;
  border: thin solid black;
}

.button {
  background: #4E9CAF;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.buttonWrapper {
  margin-top: 12px;
}
